data/voc/files
data/voc/tmp
data/voc/VOCdevkit
data/glove_word_embeddings
ESP-ImageSet/
.ipynb_checkpoints/
Untitled.ipynb
__pycache__/
data/iaprtc/classification_test.csv
data/iaprtc/classification_trainval.csv
data/iaprtc/iaprtc12.20091111/
data/iaprtc/iaprtc12/
temp.py
checkpoint/
data/espgame/ESP-ImageSet
data/espgame/tmp
data/iaprtc/tmp
*.ipynb
